@{
    ViewData["Title"] = "Na região";
}
<h1 class="text-danger text-center"><br>@ViewData["Title"]</h1>
<br>
<p class="text-center">Desculpa, mas essa função não está disponível para uso no momento.</p>