@{
    ViewData["Title"] = "Quem Somos";
}
<div class="container backcard">
        <h1 class="text-center text-success" style="font-family: 'Alatsi';">QUEM SOMOS?</h1>
        <p class="text-center text-black-50" style="margin-top: 33px;">Através do programa <strong>Recode Pro 2021</strong>, esse projeto foi idealizado e viabilizado pelos seguintes desenvolvedores(as):</p>
        <div class="row d-lg-flex justify-content-evenly mx-auto justify-content-lg-center membersList">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2"><img class="rounded-circle shadow" src="https://avatars.githubusercontent.com/u/91790650" loading="lazy">
                <div class="text-center d-xl-flex justify-content-xl-center attrTags"><span class="badge rounded-pill bg-info shadow-sm">Back-End</span></div>
                <h5 class="text-center d-flex justify-content-center align-items-center align-content-center">Daiane<br>Linhares</h5>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2"><img class="rounded-circle shadow" src="https://image.prntscr.com/image/vP_BI4xASlKNVvgMJt_o9Q.png" loading="lazy">
                <div class="text-center d-xl-flex justify-content-xl-center attrTags"><span class="badge rounded-pill bg-primary shadow-sm">Front-End</span></div>
                <h5 class="text-center d-flex justify-content-center align-items-center align-content-center">Estefani Monteiro</h5>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2"><img class="rounded-circle shadow" src="https://avatars.githubusercontent.com/u/72985009" loading="lazy">
                <div class="text-center d-xl-flex justify-content-xl-center attrTags"><span class="badge rounded-pill bg-warning text-dark shadow-sm">Scrum Master</span></div>
                <h5 class="text-center d-flex justify-content-center align-items-center align-content-center">Frederico Thomaz</h5>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2"><img class="rounded-circle shadow" src="https://avatars.githubusercontent.com/u/88121822" loading="lazy">
                <div class="text-center d-xl-flex justify-content-xl-center attrTags"><span class="badge rounded-pill bg-info shadow-sm">Back-End</span></div>
                <h5 class="text-center d-flex justify-content-center align-items-center align-content-center">Jéssica<br>Luana</h5>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2"><img class="rounded-circle shadow" src="https://image.prntscr.com/image/fMFeKXZPQkCa8TzMmH7GaA.png" loading="lazy">
                <div class="text-center d-xl-flex justify-content-xl-center attrTags"><span class="badge rounded-pill bg-danger shadow-sm" style="background: rgb(186,76,20);">Marketing</span><span class="badge bg-primary"></span></div>
                <h5 class="text-center d-flex justify-content-center align-items-center align-content-center">Lohane<br>Dafne</h5>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2"><img class="rounded-circle shadow" src="https://avatars.githubusercontent.com/u/42657376" loading="lazy">
                <div class="text-center d-xl-flex justify-content-xl-center attrTags"><span class="badge rounded-pill bg-primary shadow-sm">Front-End</span></div>
                <h5 class="text-center d-flex justify-content-center align-items-center align-content-center">Wellington<br>Nascimento</h5>
            </div>
        </div>
        <h1 class="text-center text-success" style="font-family: 'Alatsi';">&nbsp;VISÃO DE VALORES&nbsp;</h1>
        <h4 class="text-start text-success font-alatsi">Missão</h4>
        <p class="text-start text-black-50">Nossa missão é <strong>impactar</strong> positivamente a vida dos <strong>povos originários</strong>, ao oferecermos uma ferramenta que vise na <strong>equidade </strong>e <strong>liberdade financeira</strong> dessa parcela da população brasileira.</p>
        <p class="text-start text-black-50">Além do alto índice, já existente, da comunidade indígena na linha da pobreza, essa situação foi agravada por terem sidos afetados, em dobro, pela pandemia de Coronavírus, que perdura por mais de 2 anos sem previsão efetiva de retorno (sem as preocupações das medidas sanitárias de prevenção para as negociações presenciais). Com isso em mente, criamos o Mangut como uma ferramenta potencialmente útil para auxiliar a reverter essa atual realidade.</p>
        <h4 class="text-start text-success font-alatsi">Visão</h4>
        <p class="text-start text-black-50">Por ser uma plataforma generalista que atenda essa população nos mais diversos ramos, espera-se que, por incentivarmos o contato diretamente com o vendedor através dos meios de contato eletrônico mais corriqueiros, nós aumentemos os índices de vendas, revendas e, inclusive, a redistribuição em estabelecimentos comerciais na região, aumentando seu capital a curto-médio prazo.</p>
        <h4 class="text-start text-success font-alatsi">Valores</h4>
        <p class="text-start text-black-50"><strong><span style="text-decoration: underline;">Respeitamos</span></strong> o direito de escolha, de privacidade e <strong>incentivamos</strong> a liberdade de negociação entre vendedores e compradores.</p>
        <p class="text-start text-black-50"><strong><span style="text-decoration: underline;">Motivamos</span>&nbsp;</strong>a sociedade a apoiar o comércio de produtos vindos de povos originários e, ao mesmo tempo, facilitar a inserção desses indivíduos e/ou de suas comunidades no mundo digital, pois nossa ferramenta cria uma ponte de comunicação <strong>eficiente</strong> e <strong><span style="text-decoration: underline;">realista</span></strong>, principalmente pensando naqueles que apenas tinham o hábito de vender presencialmente e diretamente com o cliente.<br></p>
        <p class="text-start text-black-50"><strong><span style="text-decoration: underline;">Acreditamos</span>&nbsp;</strong>que o impacto sociocultural na transformação de vidas, é mais importante do que monopolizar um serviço por rentabilidade comercial.<br></p>
    </div>